<%- include('../partials/layout', { title, body: `
  <div class='glass soft-shadow rounded-3xl p-8 text-center'>
    <div class='text-3xl font-extrabold'>404</div>
    <div class='mt-2 text-slate-600'>No encontramos esa página.</div>
    <div class='mt-6'><a class='btn btn-primary' href='/'>Volver al inicio</a></div>
  </div>
` }) %>
